<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="movies.component.css">
  </head>
  <body>

    <input [(ngModel)]="searchTerm" placeholder="Search for movies rn" />
    <button (click)="onSearch()">Search</button>
    
    <div *ngIf="movies.length > 0">
        <h2>Movie:</h2>
        <ul>
          <li *ngFor="let movie of movies">
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.description }}</p>
            <p>Release Year: {{ movie.release_year }}</p>
            <p>Rating: {{ movie.rating }}</p>
            <p>Category: {{ movie.category }}</p>
          </li>
        </ul>
    </div>
    
  </body>
</html>