<!DOCTYPE html>
<html lang="en">
    <head> 
        <link rel ="stylesheet" href="customers.component.css">
    </head>
    <body>
        <div class="search-container">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Search by ID, First Name or Last Name">
            <button (click)="searchCustomers()">Search</button>
        </div>
        
        <div class="results-container">
            <div *ngFor="let customer of searchResults">
            <h3>{{ customer.first_name }} {{ customer.last_name }}</h3>
            <p>Email: {{ customer.email }}</p>
            <p>Customer ID: {{ customer.customer_id }}</p>
            <p>Address ID: {{ customer.address_id }}</p>
            <button (click)="editInfo(customer)">Edit</button>
            <button (click)="deleteCustomer(customer)">Delete</button>
            <button (click)="loadRentalsForCustomer(customer)">View Rentals</button>
            </div>
        </div>
        
        <div class="add-customer-container">
            <h2>Add New Customer</h2>
            <form (submit)="addCustomer()">
            <div>
                <label>First Name:</label>
                <input type="text" [(ngModel)]="newCustomer.firstName" name="firstName" required>
            </div>
            <div>
                <label>Last Name:</label>
                <input type="text" [(ngModel)]="newCustomer.lastName" name="lastName" required>
            </div>
            <div>
                <label>Email:</label>
                <input type="email" [(ngModel)]="newCustomer.email" name="email" required>
            </div>
            <div>
                <label>Address Id:</label>
                <input type="text" [(ngModel)]="newCustomer.address_id" name="address_id" required>
            </div>
            <div>
                <button type="submit">Add Customer</button>
            </div>
            </form>
        </div>

        <div *ngIf="selectedCustomer">
            <h2>Edit Customer</h2>
            <form (submit)="updateCustomer()">
                <div>
                    <label>First Name:</label>
                    <input type="text" [(ngModel)]="selectedCustomer.firstName" name="firstName" required>
                </div>
                <div>
                    <label>Last Name:</label>
                    <input type="text" [(ngModel)]="selectedCustomer.lastName" name="lastName" required>
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" [(ngModel)]="selectedCustomer.email" name="email" required>
                </div>
                <div>
                    <label>Address ID:</label>
                    <input type="text" [(ngModel)]="selectedCustomer.address_id" name="address_id" required>
                </div>
                <button type="submit">Save Changes</button>
            </form>
        </div>

        <div *ngIf="rentals.length">
            <h3>Rentals for {{ selectedCustomer?.first_name }} {{ selectedCustomer?.last_name }}:</h3>
            <ul>
            <li *ngFor="let rental of rentals">
                {{ rental.title }} (Rented on: {{ rental.rental_date}})
                <button *ngIf="!rental.return_date" (click)="markAsReturned(rental)">Mark as Returned</button>
            </li>
            </ul>
        </div>
        
    
    </body>
</html>
